apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ item.new_pvc }}
  namespace: {{ item.namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ storageclass_name }}
  resources:
    requests:
      storage: {{ item.storage_size }}